.nav-link {
  text-decoration: none;
  transition: all 0.3s;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

.nav-link:hover, 
.nav-link.active {
  color: #feffd3;
  border-bottom: 2px solid #feffd3;
}

.login-link:hover, .signup-link:hover {
  color: #F0B90B;
}

.divider {
  color: #ccc;
  margin: 0 2px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }
  
  .nav-list {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .auth-container {
    flex-direction: column;
    gap: 15px;
  }
  
  .login-signup {
    margin-top: 10px;
  }
}

.user-menu {
  display: flex;
  align-items: center;
  gap: 15px; /* Adjust spacing between avatar and buttons */
}

/* Adjust profile picture size */
.profile-link {
  color: #e7c519;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.profile-link:hover {
  background-color: #e9f5f3;
  text-decoration: underline;
}
.logout-btn {
  color: #da0606;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  padding: 0 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.logout-btn:hover {
  color: #f00;
}

